<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Minhas viagens</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Destino</th>
      <th scope="col">Tipo</th>
      <th scope="col">Data de chegada</th>
      <th scope="col">Data de saida</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Acapulco</th>
      <td>Lazer</td>
      <td>08/06/2021</td>
      <td>18/06/2021</td>
      <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/DetalheViagem">detalhes</button></td>
      <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/ExcluirViagem">Excluir</button></td>
    </tr>
    <tr>
      <th scope="row">Paraiba</th>
      <td>Lazer</td>
      <td>01/07/2023</td>
      <td>01/08/2023</td>
      <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/DetalheViagem">detalhes</button></td>
      <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/ExcluirViagem">Excluir</button></td>
    </tr>
    <tr>
      <th scope="row">Moscou</th>
      <td>Lazer</td>
      <td>04/12/2023</td>
      <td>18/1/2024</td>
      <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/DetalheViagem">detalhes</button></td>
      <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/ExcluirViagem">Excluir</button></td>
    </tr>
  </tbody>
</table>


