<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Detalhe da viagem</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Destino</label>
    <input class="form-control" type="text" placeholder="Acapulco" readonly>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Tipo</label>
    <input class="form-control" type="text" placeholder="Lazer" readonly>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Data de Chegada</label>
    <input class="form-control" type="text" placeholder="08/06/2021" readonly>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Data de Saida</label>
    <input class="form-control" type="text" placeholder="18/06/2021" readonly>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Orçamento</label>
    <input class="form-control" type="text" placeholder="R$5000.00" readonly>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Quantidade de Pessoas</label>
    <input class="form-control" type="text" placeholder="2" readonly>
  </div>

  <button type="submit" class="btn btn-primary" routerLink="/ListagemViagens">voltar</button>
</form>
